@model Emergent.CodeChallenge.Web.Models.VersionRequest

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-sm-12">
        <h2>Enter Version</h2>

        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.TextBoxFor(m => m.Version)
            <input type="submit" value="Submit" />
        }

        @if (ViewBag.Software != null)
        {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Version</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var software in ViewBag.Software)
                {
                <tr>
                    <td>@software.Name</td>
                    <td>@software.Version</td>
                </tr>
                }
            </tbody>
        </table>
        }
    </div>
</div>
